@using Microsoft.AspNet.Identity
@using LMS.DATA.EF
@{
    //Added to be able to Substring() Username below so full email address is not shown
    int location = User.Identity.GetUserName().IndexOf("@");
}
@if (Request.IsAuthenticated)
{
    LMSEntities db = new LMSEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();
    string userFirstName = "Guest"; //default to something in case there is no match on UserDetails
    //if we DID get a match on UserDetails, use that info to populate the userFirstName variable
    if (currentUser != null)
    {
        userFirstName = currentUser.FirstName;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="list-inline">
            <li class="list-inline-item">
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Hello " + User.Identity.GetUserName().Substring(0, location), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" })
                }
                else
                {
                    @Html.ActionLink($"Hello {userFirstName}", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" })
                }
            </li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="list-inline">
        <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#signupModal">Register</a></li>
    </ul>
}
