@*@model LMS.UI.MVC.Models.RegisterViewModel*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <form action="#" class="row">
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        <div class="col-12">
            <input type="text" class="form-control mb-3" name="FirstName" placeholder="First Name">
        </div>
        <div class="col-12">
            <input type="text" class="form-control mb-3" name="LastName" placeholder="Last Name">
        </div>
        <div class="col-12">
            <input type="email" class="form-control mb-3" name="Email" placeholder="Email">
        </div>
        <div class="col-12">
            <input type="password" class="form-control mb-3" name="Password" placeholder="Password">
        </div>
        <div class="col-12">
            <input type="password" class="form-control mb-3" name="ConfirmPassword" placeholder="Confirm Password">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">SIGN UP</button>
        </div>
    </form>
}