@{
    ViewBag.Title = "About Us";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">@ViewBag.Title</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"></li>
                </ul>
                <p class="text-lighten">Just Act! Talent Management is designed to help young actors' careers take flight!</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-100 mb-4" src="~/Content/images/about/about-page.jpg" alt="about image">
                <h2 class="section-title">ABOUT OUR JOURNEY</h2>
                <p>Just Act! Talent Management is designed to help young actors' careers take flight! We provide a skilled staff that will help direct your career in a limitless direction. Not only do we represent talent, but we also provide direction for those who have not yet landed representation. Our nine course regiment includes three or more lessons for aspiring actors to participate in. Upon completion of the course training, actors are invited to partake in a showcase to audition for our management company and will also be awarded an audition for a television show, a commercial, and a stage play regardless of future representation. </p>
                <p>We hope you will join our Just Act! family to begin your path to success. We can't wait to see what the future holds for you! "Wanting to be a good actor is not good enough. You must want to be a great actor. You just have to have that." - Gary Oldman</p>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
@*<!-- funfacts -->
<section class="section-sm bg-primary">
    <div class="container">
        <div class="row">
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="60">0</h2>
                    <h5 class="text-white">TEACHERS</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="50">0</h2>
                    <h5 class="text-white">COURSES</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="1000">0</h2>
                    <h5 class="text-white">STUDENTS</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="3737">0</h2>
                    <h5 class="text-white">SATISFIED CLIENT</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /funfacts -->*@
<!-- success story -->
<section class="section bg-cover mb-2" data-background="/Content/images/backgrounds/success-story.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
                <a class="play-btn venobox" href="https://youtu.be/C2nrmgP8RuI" data-vbtype="video">
                    <i class="ti-control-play"></i>
                </a>
            </div>
            <div class="col-lg-6 col-sm-8">
                <div class="bg-white p-5">
                    <h2 class="section-title">Success Stories</h2>
                    <p>Before Matthew McConaughey became established as an actor, he didn't quite prepare for his roles the way he does now. Here, he tells a story about a film that he shot as well as his career and approach to acting. In another article written about how he approaches roles and characters he is quoted as saying: </p>
                    <p>"I’ve have never been in a film or given a performance that was as good as I’d hoped it would be. I’ve come close. I’ve seen some that are close. The movie that was closest to the script that I’ve ever been a part of is Mud. There was like one scene different and the dialogue is almost exactly what Jeff Nichols wrote. I’m still getting off on acting. I’m not bored at all. Acting is like a working vacation for me. I can’t wait to go to work. I’m scared about it, I love it. I love the adrenaline of it. I’m confident with it. I’m surprised with it. It spooks me in a good way."</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /success story -->